html {
    box-sizing: border-box;
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    border: 0 solid;
}

body {
    background-color: oklch(0.9493 0.0085 210.58);
}

img {
    display: block;
}

.container {
    background-color: oklch(1 0 360);
    margin: 50px;
    padding: 36px;
}

h1 {
    text-align: center;
    font-size: 36px;
}

.links {
    font-size: 18px;
    margin-left: 5em;
}

.link-item {
    padding: 8px;
    display: inline-block;
}