html {
    box-sizing: border-box;
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    border: 0 solid;
}

body {
    background-color: oklch(0.9493 0.0085 210.58);
    color: oklch(0.3328 0.034 235.32);
}

img {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    color: oklch(0.1805 0.0532 247.77);
}

h1 {
    text-align: center;
    font-size: 36px;
}

li {
    padding: 2px;
    margin-bottom: 4px;
}

.container {
    background-color: oklch(1 0 360);
    margin: 50px;
    padding: 36px;
}

.links {
    font-size: 18px;
    margin-left: 5em;
}

.link-item {
    padding: 8px;
    display: inline-block;
}

.step {
    margin-bottom: 32px;
}

.home-link {
    padding: 10px;
    font-weight: bold;
}